body {
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 242, 170);
}

.calculatorBody {
    border: 3px solid rgb(22, 22, 22);
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 550px;
}

.miniDisplay {
    font-size: 15px;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    right: 430px;
    top: 70px;
    border: 0.1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    height: 30px;
    z-index: 1;
}

.calcDisplay {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 70px;
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: rgb(31, 66, 31);
    color: #f5f3ca;
}

.calcButtons {
    font-size: 30px;
    border: 0.5px solid rgb(22, 22, 22);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 90px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f5f3ca;
    background-color: rgb(42, 42, 42);
}

.buttonsRow {
    display: flex;
    flex-direction: row;
}